<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savak.savak">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.SearchActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SeachResultActivity"
            android:label=""
            android:theme="@style/NoActionBar">
        </activity>
        <activity
            android:name=".ui.RegionsActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.RegionSpecificLibrariesActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.AboutUsActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>